.banner {
    max-width: 100%;
    height: 800px;
    background-image: $firstGradient;
    font-family: Arial, Helvetica, sans-serif; 
}

.banner-img {
    width: 836px;
    height: 650px;
    background: url('../../img/iPhones.png') center center no-repeat;
    position: absolute;
    top: 146px;
    left: 37.55vw;
}

.banner-content {
    width: 500px;
    color: $color1;
    padding-left: 2.6vw;
}

.banner-points {
    margin-bottom: 55px;
}

a.banner-button {
    padding: 15px 40px;
    border: 1px solid $color1;
    border-radius: 50px;
    background-color: $color1;
    color: black;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.banner-title {
    margin-bottom: 25px;
}

.banner-title__up {
    font-size: 45px;
    margin-bottom: 35px;
}

.banner-title__down {
    font-size: 14px;
    line-height: 24pt;
}

.banner-points__list {
    font-size: 16px;
    font-weight: 500;
}

.banner-points__item {
    margin-bottom: 25px;
    @include flex(flex-start, flex-start, nowrap, row);
}

.points-item__img {
    background: url('../../img/point.png') center center no-repeat;
    width: 15px;
    height: 15px;
    margin-right: 20px;
}
