.header {
    @include flex(space-between, center, wrap, row);
    width: 100%;
    height: 80px;
    padding-top: 30px;
    padding-left: 2.6vw;
    padding-right: 2.6vw;
    margin-bottom: 150px;
}

.logo {
    width: 130px;
    height: 45px;
    background: url('../../img/logo.png')center center no-repeat;
}

.nav {
    @include flex(center, center, wrap, row);
}

.nav__list{
    @include flex(center, center, wrap, row);
    padding-right: 2.6vw;
    color: $color1;
    font-size: 18px;
}

.download-btn {
    padding: 15px 30px 15px 30px;
    border: 1px solid $color1;
    border-radius: 50px;
    background-color: $color1;
    font-size: 18px;
}

.nav__item {
    padding-right: 2.6vw;
}

