section.banner
    include ./header
    .banner-content
        .banner-title
            .banner-title__up A Powerfull & Unique App Landing Template
            .banner-title__down Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non consectetur perferendis enim quia. Magnam obcaecati maxime neque incidunt.
        .banner-points
            ul.banner-points__list
                li.banner-points__item
                    .points-item__img 
                    .points-item__text Unlimited colors: banner with images
                li.banner-points__item 
                    .points-item__img 
                    .points-item__text Fully Responsive and powered by HTML5 and CSS3
                li.banner-points__item 
                    .points-item__img 
                    .points-item__text Very easy customize: set up in minutes
        a.banner-button(href='#') Start exporting use
    .banner-img                           