section.dontLeave
    .dontLeave-img
    .dontLeave-content
        .dontLeave-content__title We don't leave you stranded
        .dontLeave-content__text
            .dontLeave-content__text--up Everyone's reasons for learning user interface design
                                            | are different. If you're already a developer, or
                                            | a PM, or a UX designer, why develop this totally
                                            | separate skill?
            .dontLeave-content__text--bottom Everyone's reasons for learning user interface
                                                | design are different. If you're already a 
                                                | developer, or a PM, or a UX designer, why develop
                                                | this totally separate skill? If you're
                                                | already a developer, or a PM, or a UX designer.
        ul.dontLeave-content__list
            li.dontLeave-content__item
                .dontLeave-content__img
                .dontLeave-content__text Unlimited colors: banner with images, slider or video
            li.dontLeave-content__item
                .dontLeave-content__img
                .dontLeave-content__text Fully Responsive and powered by HTML5 and CSS3
            li.dontLeave-content__item
                .dontLeave-content__img
                .dontLeave-content__text Very easy to customize: set up in minutes    
