section.download
    .download__title Download Giant App Now
    ul.download__list
        li.download__item
            a.download__item-button(href='#')
                .donwload-button__left
                    .donwload-button__logo
                .dowload-button__right
                    .dowload-button__right-title Download
                    .dowload-button__right-text Download from play store
        li.download__item
            a.download__item-button(href='#')
                .donwload-button__left
                    .donwload-button__logo.donwload-button__logo--android
                .dowload-button__right
                    .dowload-button__right-title Download
                    .dowload-button__right-text Download from app store
        li.download__item
            a.download__item-button(href='#')
                .donwload-button__left
                    .donwload-button__logo.donwload-button__logo--windows
                .dowload-button__right
                    .dowload-button__right-title Download
                    .dowload-button__right-text Download from microsoft store    