section.features
    ul.features__list
        li.features__item
            .feature-icon.feature-icon--sell
            .feature-text
                .feature-text__title Sell any product online
                .feature-text__down Over 92% of computers are infected with Adware and spyware. Such software is
        li.features__item
            .feature-icon.feature-icon--customize
            .feature-text
                .feature-text__title Very easy to customize
                .feature-text__down Many of are so used to working on a computer desktop that when it comes
        li.features__item
            .feature-icon.feature-icon--colors
            .feature-text
                .feature-text__title Unlimited colors
                .feature-text__down Audio player software is used to play back sound recordings in one of the many
        li.features__item
            .feature-icon.feature-icon--responsive
            .feature-text
                .feature-text__title Responsive, HTML5, CSS3
                .feature-text__down computers have become ubiquitous in almost every facet of our lives.At work,
        li.features__item
            .feature-icon.feature-icon--convert
            .feature-text
                .feature-text__title Designed to conwert
                .feature-text__down If you are looking for a new way to promote your business that won't cost
        li.features__item
            .feature-icon.feature-icon--boundaries
            .feature-text
                .feature-text__title With no boundaries
                .feature-text__down Now, if you are interesed in being the best player, getting really good money and                                        