footer.footer
    .footer__content
        ul.footer-social__list
            li.footer-social__item
                a.social-item__link.social-item__link--fb(href='#')
            li.footer-social__item
                a.social-item__link.social-item__link--tw(href='#')
            li.footer-social__item
                a.social-item__link.social-item__link--ri(href='#')
            li.footer-social__item
                a.social-item__link.social-item__link--be(href='#')
        .footer__copyright-text Copyright &copy; 2017 | UXSEVEN - a sister concern
                                | of codepixar.com   