header.header
    .logo
    nav.nav
        ul.nav__list
            li.nav__item
                a.nav__link(href='#') Home
            li.nav__item
                a.nav__link(href='#') Features
            li.nav__item
                a.nav__link(href='#') Pricing
        a.download-btn(href='#') Download Now


