doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        block title
            title webpack Project

    body

        include ./banner
        include ./features
        include ./dontLeave
        include ./screenShots
        include ./pricing
        include ./video
        include ./testimonials
        include ./download
        include ./footer