section.pricing
    .pricing__title We've got the perfect package for you
    .pricing__text Everyone's reasons for learning user interface are different.
                    | If you're already a developer, or a PM, or a 
                    | UX designer, why develop this totally separate skill?
    ul.pricing__list
        li.pricing__item
            .pricing__item-title Basic
            .pricing__item-price $12.0
                sub.pricing__item-price--sub /m
            .pricing__item-triangle    
            ul.pricing__content-list
                li.pricing__content-item One User
                li.pricing__content-item Multiple Access
                li.pricing__content-item SMS Support
                li.pricing__content-item 24/7 Online Support
            .pricing__content-text Start Free Trial
            .pricing__item-button--wrapper
                button.pricing__item-button Buy Now    
        li.pricing__item.pricing__item--bg-white
            .pricing__item-title Standard
            .pricing__item-price.pricing__item-price--gradient $24.0
                sub.pricing__item-price--sub /m
            .pricing__item-triangle.pricing__item-triangle--gradient    
            ul.pricing__content-list
                li.pricing__content-item Five User
                li.pricing__content-item Multiple Access
                li.pricing__content-item SMS Support
                li.pricing__content-item 24/7 Online Support
            .pricing__content-text Start Free Trial
            .pricing__item-button--wrapper
                button.pricing__item-button.pricing__item-button--gradient Buy Now    
        li.pricing__item
            .pricing__item-title Premium
            .pricing__item-price $250.0
                sub.pricing__item-price--sub /m
            .pricing__item-triangle    
            ul.pricing__content-list
                li.pricing__content-item Twenty User
                li.pricing__content-item Multiple Access
                li.pricing__content-item SMS Support
                li.pricing__content-item 24/7 Online Support
            .pricing__content-text Start Free Trial
            .pricing__item-button--wrapper
                button.pricing__item-button Buy Now    
        li.pricing__item
            .pricing__item-title Enterprice
            .pricing__item-price $999.0
                sub.pricing__item-price--sub /m
            .pricing__item-triangle    
            ul.pricing__content-list
                li.pricing__content-item Unlimited User
                li.pricing__content-item Multiple Access
                li.pricing__content-item SMS Support
                li.pricing__content-item 24/7 Online Support
            .pricing__content-text Start Free Trial
            .pricing__item-button--wrapper
                button.pricing__item-button Buy Now
