section.screenShots
    .screenShots__title Take a look at our screenshots
    .screenShots__text Everyone's reasons for learning user interface design are different.
                        | If you're already a developer, or a PM, or a UX designer,
                        | why develop this totally separate skill?
    ul.screenShots__list
        li.screenShots__item.screenshot4
        li.screenShots__item.screenshot3
        li.screenShots__item.screenshot2
        li.screenShots__item.screenShot1
        li.screenShots__item.screenshot5
        li.screenShots__item.screenshot6
        li.screenShots__item.screenShot7
