section.testimonials
    .testimonials__title What our customers are saying
    .testimonials__text Everyone's reasons for learning user interface design
                        | are different if you're already a developer, or a PM,
                        | or a UX designer why develop this totally separate skill?
    ul.feedback__list
        a.fedback__left-arrow(href='#')
        li.feedback-item
            .feedback-item__up The JustLanded for WordPress theme is great,
                                | super easy to use and to customize and the
                                | support is just awesome: super fast and reliable.
            .feedback-item__down
                .feedback-item__img
                .feedback-item__name
                    .feedback-item__name-up Alexandra Bullock
                    .feedback-item__name-down Apple Inc.
        li.feedback-item.feedback-item--action
            .feedback-item__up Very happy with the theme and incredibly easy to
                                | configure, well done! I cannot emphasize how
                                | awesome this theme and developer support are.
            .feedback-item__down
                .feedback-item__img.feedback-item__img--user2
                .feedback-item__name
                    .feedback-item__name-up Gary Sebastian
                    .feedback-item__name-down Apple Inc.
        li.feedback-item
            .feedback-item__up Definitely a great theme and the support team are
                                | fantastic. Customer support is numero uno and
                                | ShapingRain have got this spot on. Cheers guys.
            .feedback-item__down
                .feedback-item__img.feedback-item__img--user3
                .feedback-item__name
                    .feedback-item__name-up Samantha Bilbau
                    .feedback-item__name-down Apple Inc.
        a.fedback__right-arrow(href='#')                                